*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(42, 140, 165);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div{
    display: flex;
}

input{
    padding: 15px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

input:focus{
    outline: solid 1px rgb(0, 0, 0);
}

button{
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0px 5px 5px 0px;
}

p{
    font: 28px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.title{
    color: white;
    margin-bottom: 15px;
}